{% macro dataTables(converted_table, transformed_table, issue_log_table, pagination_params=none, page_start=none, page_end=none) %}
{% from "components/table.html" import table %}
{% from "govuk_frontend_jinja/components/pagination/macro.html" import govukPagination %}
<div class="govuk-tabs" data-module="govuk-tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#converted-table">Converted</a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#transformed-table">Transformed</a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#issue-log-table">Issue logs</a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="converted-table">
    {% if converted_table.rows %}
      <div class="app-scrollable-container app-scrollable">
        {{ table(converted_table) }}
      </div>
    {% else %}
      <p class="govuk-body">No rows to display</p>
    {% endif %}
    {% if pagination_params %}
    <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-1">Showing entries {{ page_start }} to {{ page_end }}</p>
    {{ govukPagination(pagination_params) }}
    {% endif %}
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="transformed-table">
    {% if transformed_table.rows %}
      <div class="app-scrollable-container app-scrollable">
        {{ table(transformed_table) }}
      </div>
    {% else %}
      <p class="govuk-body">No rows to display</p>
    {% endif %}
    {% if pagination_params %}
    <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-1">Showing entries {{ page_start }} to {{ page_end }}</p>
    {{ govukPagination(pagination_params) }}
    {% endif %}
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="issue-log-table">
    {% if issue_log_table and issue_log_table.rows %}
      <div class="app-scrollable-container app-scrollable">
        {{ table(issue_log_table) }}
      </div>
    {% else %}
      <p class="govuk-body">No issues on this page.</p>
    {% endif %}
    {% if pagination_params %}
    <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-1">Showing entries {{ page_start }} to {{ page_end }}</p>
    {{ govukPagination(pagination_params) }}
    {% endif %}
  </div>
</div>
{% endmacro %}
