{% extends 'layouts/base.html' %}
{% block beforeContent %}
<script {% if config["ENV"] == "production" %}nonce="{{ csp_nonce() }}"{% endif %} src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ url_for('base.index') }}">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Performance
    </li>
  </ol>
</div>
{% endblock beforeContent %}

{% block content %}

<h1 class="govuk-heading-xl">Performance - Data Validator Front End</h1>

<!--
  a grid of cards, each card representing a different performance metric
-->
<style>
  .govuk-card {
    border: 1px solid #b1b4b6;
    padding: 20px;
    background-color: #f3f2f1;
    margin-bottom: 20px;
  }
</style>

<!-- <h1 class="govuk-heading-L">File size</h1> -->
<!-- A graph here showing file sizes uploaded would be nice-->



<h1 class="govuk-heading-L">Session completion</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-card">
      <h2 class="govuk-heading-m">Total sessions started this week</h2>
      <h1 class="govuk-heading-L">{{startPageViews.iloc[-1]['count']}}</h1>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-card">
      <h2 class="govuk-heading-m">Total sessions that reach the errors page</h2>
      <h1 class="govuk-heading-L">{{confirmationPageViews.iloc[-1]['count']}}</h1>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-card">
      <h2 class="govuk-heading-m">Total sessions that reach the confirmation page</h2>
      <h1 class="govuk-heading-L">{{errorsPageViews.iloc[-1]['count']}}</h1>
    </div>
  </div>
</div>

{% endblock content %}
