{% extends 'layouts/base.html' %}
{% block beforeContent %}
<script {% if config["ENV"] == "production" %}nonce="{{ csp_nonce() }}"{% endif %} src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ url_for('base.index') }}">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Performance
    </li>
  </ol>
</div>
{% endblock beforeContent %}

{% block content %}

<h1 class="govuk-heading-xl">Performance - Data Validator Front End</h1>

{% endblock content %}
