# # this is just for heroku. to add requirements use
# # requirements/requirements.in or requirements/dev-requirements.in

# -r requirements/requirements.txt


pytest
pytest-cov
flake8
pre-commit
black
isort
aiofiles
alembic
anyio
asgi-csrf
asgiref
authlib
blinker
boto3
botocore
canonicaljson
cchardet
certifi
cffi
charset-normalizer
click
click-default-group-wheel
cloudpickle
cryptography
dask[array,dataframe]
dataclasses-json
datasette
decorator
deprecated
digital-land @ git+https://github.com/digital-land/pipeline.git
digital-land-frontend @ git+https://github.com/digital-land/digital-land-frontend.git
digital_land @ git+https://github.com/digital-land/pipeline.git#egg=digital-land
digital_land_frontend @ git+https://github.com/digital-land/digital-land-frontend.git#egg=digital_land_frontend
pip-tools
git+https://github.com/digital-land/digital-land-frontend.git#egg=digital_land_frontend
duckdb
esridump
et-xmlfile
flask
flask-migrate
flask-sqlalchemy
flask-sslify
flask-talisman
flask-wtf
fsspec
geojson
govuk-frontend-jinja==2.5.0
gunicorn
h11
httpcore
httpx
hupper
idna
importlib-metadata
is-safe-url
isodate
itsdangerous
janus
jinja2
jmespath
json-stream
json-stream-rs-tokenizer
locket
mako
markupsafe
marshmallow
marshmallow-enum
mergedeep
moto
mypy-extensions
numpy
openpyxl
packaging
pandas
partd
pint
pluggy
psutil
psycopg2-binary
pyarrow
pycparser
pydantic
pygit2
pygithub
pyjwt[crypto]
pynacl
pyparsing
pyproj
python-dateutil
python-dotenv
python-multipart
pytz
pyyaml
rdflib
requests
responses
rfc3986[idna2008]
s3transfer
sentry-sdk[flask]
shapely
simplejson
six
sniffio
sparqlwrapper
spatialite
sqlalchemy
toolz
types-pyyaml
typing-extensions
typing-inspect
urllib3
uvicorn
validators
werkzeug
wrapt
wtforms
xlrd
xmltodict
zipp
attrs
cfgv
pre_commit
