.app-govuk-header__container {
  padding-bottom: 10px;
}

.app-govuk-header__link--homepage {
  font-size: 1.5em;
  font-weight: 400;
}

.app-govuk-header__link--homepage--bold {
    font-weight: 700;
}

.app-header__tag {
  font-size: 12px;
  margin-top: -6px;
  vertical-align: middle;
}
