.app-mapping-list {
  @include govuk-responsive-margin(4, "top");

  .app-mapping-item {
    margin-bottom: 10px; // has to be nested because .govuk-list > li overrides it
  }
}

.app-mapping-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__unit:first-of-type {
    margin-right: 10px;
  }

  &__unit:last-of-type {
    margin-left: 10px;
  }

  &:first-of-type {
    @include govuk-responsive-margin(3, "bottom");
  }
}

.app-mapping-item__heading {
  margin-bottom: 0;
}

.app-mapping-item__invisible {
  visibility: hidden;
}

.app-mapping-item__unit {
  display: inline-block;
  padding: govuk-spacing(1);
  border: 4px solid $govuk-border-colour;
}

.app-mapping-item__label {
  position: relative;
  flex-grow: 2;
  text-align: center;

  &:before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 3px;
    background: govuk-colour('blue');
    background: govuk-colour('black');
  }

  span {
    position: relative;
    padding: 0 10px;
    background: govuk-colour('white');
    z-index: 2;
  }
}


// Form for adding mappings
// ========================

.app-mapping-rule__input {
  margin-right: 5px;

  &:first-of-type {
    margin-bottom: 10px;
  }
}

.app-mapping-rule__label {
  @include govuk-font($size: 19);
}
