.reporting-overview-container {
    max-width: 90%;
    margin:auto
}

.reporting-cohort-filter {
    margin-top: 8px
}

.reporting-table-cell {
   padding-left: 1em;
   @include govuk-font($size: 16);
}

.reporting-table-header {
    padding-left: 1em;
    @include govuk-font($size: 16);
    font-weight: bold;
 }

.reporting-table-container{
    max-width: 100%;
    overflow-x: auto;
}

.reporting-page {
    max-width: 100%;
}

.reporting-log-table{
    overflow-y: scroll;
    height: 25rem;
}

.reporting-resource-table{
    overflow-y: auto;
    height: 25rem;
}

.reporting-endpoint-details{
    height: 100%;
    word-wrap: break-word;
}
