.app-table {
  &__header {
    text-align: left;
    padding-right: 1em;
  }
  &__header--row {
    font-weight: normal;
    @extend .govuk-table__cell;
  }

  &__cell {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }
}

// styles for tables on pipeline config pages

.dl-data-table .govuk-table__header {
  border-bottom-color: govuk-colour("dark-grey");
}

.dl-data-table th {
  background: govuk-colour("light-grey");
  font-weight: 700;
}

.govuk-table__header:last-child, .govuk-table__cell:last-child {
  padding-right: 15px;
}

// styles for reporting tables*

.red-background {
  background: rgba(govuk-colour("red"),0.5);
  // color: govuk-colour("white")
}

.green-background {
  background: rgba(govuk-colour("green"),0.5);
  // color: govuk-colour("white")
}

.yellow-background {
  background: rgba(govuk-colour("yellow"),0.5);
  // color: govuk-colour("white")
}
