.app-table {
  &__header {
    text-align: left;
    padding-right: 1em;
  }
  &__header--row {
    font-weight: normal;
    @extend .govuk-table__cell;
  }

  &__cell {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }
}

// styles for tables on pipeline config pages

.dl-data-table .govuk-table__header {
  border-bottom-color: govuk-colour("dark-grey");
}

.dl-data-table th {
  background: govuk-colour("light-grey");
  font-weight: 700;
}

.govuk-table__header:last-child, .govuk-table__cell:last-child {
  padding-right: 15px;
}

// styles for reporting tables*

.reporting-bad-background {
  background: rgba(govuk-colour("red"),0.5);
}

.reporting-good-background {
  background: rgba(govuk-colour("green"),0.5);
}

.reporting-medium-background {
  background: rgba(govuk-colour("yellow"),0.5);
}

.reporting-null-background {
  background: rgba(govuk-colour("black"),0.1);
}

.reporting-100-background {
  background: rgba(govuk-colour("green"),1)
}
.reporting-90-100-background {
  background: rgba(govuk-colour("green"),0.9)
}
.reporting-80-90-background {
  background: rgba(govuk-colour("green"),0.8)
}
.reporting-70-80-background {
  background: rgba(govuk-colour("green"),0.7)
}
.reporting-60-70-background {
  background: rgba(govuk-colour("green"),0.6)
}
.reporting-50-60-background {
  background: rgba(govuk-colour("green"),0.5)
}
.reporting-40-50-background {
  background: rgba(govuk-colour("green"),0.4)
}
.reporting-30-40-background {
  background: rgba(govuk-colour("green"),0.3)
}
.reporting-20-30-background {
  background: rgba(govuk-colour("green"),0.2)
}
.reporting-10-20-background {
  background: rgba(govuk-colour("green"),0.1)
}
.reporting-00-10-background {
  background: rgba(govuk-colour("green"),0.05)
}
