{% extends 'layouts/base.html' %}

{% set app_header_classes = "app-header--flush" %}

{% block main %}

<main id="content" role="main">

  <section class="app-hero" id="intro">
    <div class="app-hero__content govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Data manager</h1>
          <p class="govuk-body-l">A set of tools to help manage the planning data platform.</p>
        </div>
        <div class="govuk-grid-column-one-third"></div>
      </div>
    </div>
  </section>

  <section class="govuk-width-container app-tools-list">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <a class="app-tools-list__item" href="{{ url_for('addsource.index') }}">
          <h3 class="govuk-heading-s app-tools-list__item__heading">Add a source</h3>
          <p class="govuk-body">Use this tool to add new sources for a dataset.</p>
        </a>
      </div>
    </div>
  </section>
</main>
{% endblock main %}
