{% extends 'layouts/base.html' %}

{% set app_header_classes = "app-header--flush" %}

{% block main %}

<main id="content" role="main">

  <section class="app-hero{{ ' app-hero--flush' if session['user'] }}" id="intro">
    <div class="app-hero__content govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Config manager</h1>
          <p class="govuk-body-l">A prototype to help manage the configuration of pipelines</p>
        </div>
        <div class="govuk-grid-column-one-third"></div>
      </div>
    </div>
  </section>

  <section class="govuk-width-container app-tools-list">

    {% if session['user'] %}
    {% from 'components/user-bar.html' import appUserBar %}
    {{ appUserBar({
      "user": session['user'],
      "classes": "govuk-!-margin-bottom-9"
    }) }}
    {% endif %}

    {%- from "govuk_frontend_jinja/components/notification-banner/macro.html" import govukNotificationBanner %}

    {%- with messages = get_flashed_messages() %}
      {%- if messages %}
        {%- set flashMessageHtml %}
        {% for message in messages %}
        <p class="govuk-notification-banner__heading">
          {{message}}.
        </p>
        {% endfor %}
        {% endset -%}
        {{ govukNotificationBanner({
          "html": flashMessageHtml
        }) }}
      {%- endif %}
    {%- endwith %}

    <h2 class="govuk-heading-m">Configuration</h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <a class="app-tools-list__item" href="{{ url_for('dataset.index')}}">
          <h3 class="govuk-heading-s app-tools-list__item__heading">Pipeline configuration for datasets</h3>
          <p class="govuk-body">Configure the processing of source data into digital land datasets</p>
        </a>
      </div>
          <div class="govuk-grid-column-one-third">
        <a class="app-tools-list__item" href="{{ url_for('datamanager.index')}}">
          <h3 class="govuk-heading-s app-tools-list__item__heading">Data Managers Portal</h3>
          <p class="govuk-body">Access tools for managing datasets and their configurations.</p>
        </a>
      </div>
    
     </div><!-- /.govuk-grid-row -->
    
    <h2 class="govuk-heading-m govuk-!-margin-top-9">Reporting (under construction)</h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <a class="app-tools-list__item" href="{{ url_for('reporting.overview')}}">
          <h3 class="govuk-heading-s app-tools-list__item__heading">Overview</h3>
          <p class="govuk-body">General metrics on the platform</p>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
        <a class="app-tools-list__item" href="{{ url_for('reporting.overview_of_datasets')}}">
          <h3 class="govuk-heading-s app-tools-list__item__heading">Overview of Datasets</h3>
          <p class="govuk-body">An overview of the entire platform</p>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
        <a class="app-tools-list__item" href="{{ url_for('reporting.odp_status_summary')}}">
          <h3 class="govuk-heading-s app-tools-list__item__heading">ODP Summary</h3>
          <p class="govuk-body">Summary metrics for ODP cohorts</p>
        </a>
      </div>
    </div><!-- /.govuk-grid-row -->




    <h2 class="govuk-heading-m govuk-!-margin-top-9">Sources and endpoints</h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <a class="app-tools-list__item" href="{{ url_for('source.search') }}">
          <h3 class="govuk-heading-s app-tools-list__item__heading">Find a source</h3>
          <p class="govuk-body">Use this tool to find a source.</p>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
        <a class="app-tools-list__item" href="{{ url_for('source.add') }}">
          <h3 class="govuk-heading-s app-tools-list__item__heading">Add a source</h3>
          <p class="govuk-body">Use this tool to add new sources for a dataset.</p>
        </a>
      </div>
      <div class="govuk-grid-column-one-third">
        <a class="app-tools-list__item" href="{{ url_for('source.search') }}">
          <h3 class="govuk-heading-s app-tools-list__item__heading">Edit source</h3>
          <p class="govuk-body">Use this tool to edit a source.</p>
        </a>
      </div>
    </div><!-- /.govuk-grid-row -->

  </section>

  <section class="govuk-width-container app-tools-list">
    <h2 class="govuk-heading-m">Documentation</h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <a class="app-tools-list__item" href="https://docs.google.com/document/d/1F7dAbsRjallMzsgdPNhwszdzV9OpENx_rWWYssLxdvE/edit?usp=sharing">
          <h3 class="govuk-heading-s app-tools-list__item__heading">Ops manual</h3>
          <p class="govuk-body">Documentation for a set of data management related procedures.</p>
        </a>
      </div>
    </div><!-- /.govuk-grid-row -->
  </section>
</main>
{% endblock main %}
