{% extends 'datamanager/components/check-transform-base.html' %}

{% block pageTitle %}{{ dataset_display }} – {{ organisation_display }} – Provision Comparison{% endblock %}

{% block heading %}Provision Comparison{% endblock %}

{% block pre_tabs %}
    <dl class="govuk-summary-list govuk-!-margin-bottom-6">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Endpoint URL</dt>
        <dd class="govuk-summary-list__value">
          {% if endpoint_url %}
          <a class="govuk-link" href="{{ endpoint_url }}" target="_blank" rel="noopener noreferrer" style="word-break: break-all;">{{ endpoint_url }}</a>
          {% else %}
          Not available
          {% endif %}
        </dd>
      </div>
      {% if resource_hash %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Resource hash</dt>
        <dd class="govuk-summary-list__value">
          <span style="word-break: break-all;">{{ resource_hash }}</span>
        </dd>
      </div>
      {% endif %}
    </dl>
{% endblock %}

{% block action_buttons %}
    {% if existing_endpoints %}
    <form method="post" action="{{ url_for(_transform_endpoint, request_id=request_id) }}">
    <div class="app-check-panel" style="border-left: 4px solid #1d70b8;">
      <details data-module="govuk-details">
        <summary class="app-check-panel__summary">
          <span class="app-check-panel__label" style="background-color: #1d70b8;">Optional action</span>
          <span class="app-check-panel__title">
            <span class="govuk-heading-m" style="color: #1d70b8;">Retire endpoints</span>
          </span>
          <span class="app-check-panel__chevron" style="color: #1d70b8;">&#9660;</span>
        </summary>
        <div class="app-check-panel__body">
          <p class="govuk-body">Select any existing endpoints to retire when adding this data:</p>
          <div class="govuk-checkboxes">
            {% for ep in existing_endpoints %}
            {% set ep_hash = ep.endpoint if ep is mapping else ep %}
            {% set ep_url = ep['endpoint-url'] if ep is mapping else ep %}
            {% set ep_end_date = ep['end-date'] if ep is mapping else "" %}
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="retire-endpoint-{{ loop.index }}" name="retire_endpoints" type="checkbox" value="{{ ep_hash }}" {% if ep_end_date %}disabled{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="retire-endpoint-{{ loop.index }}">
                <code style="word-break: break-all;">{{ ep_url }}</code>
                <span class="govuk-hint govuk-!-margin-bottom-0" style="font-size: 0.8rem; word-break: break-all;">{{ ep_hash }}</span>
                {% if ep_end_date %}
                <span class="govuk-tag govuk-tag--grey" style="margin-top: 4px;">Already retired {{ ep_end_date }}</span>
                {% endif %}
              </label>
            </div>
            {% endfor %}
          </div>
        </div>
      </details>
    </div>
    <div class="govuk-button-group govuk-!-margin-top-6">
      <button type="submit" class="govuk-button">Continue to preview</button>
      <a href="{{ url_for('datamanager.dashboard_get') }}" class="govuk-link">Cancel</a>
    </div>
    </form>
    {% else %}
    <div class="govuk-button-group govuk-!-margin-top-6">
      <a href="{{ url_for('datamanager.entities_preview', request_id=request_id) }}" class="govuk-button">
        Continue to preview
      </a>
      <a href="{{ url_for('datamanager.dashboard_get') }}" class="govuk-link">
        Cancel
      </a>
    </div>
    {% endif %}
{% endblock %}
