{% extends 'layouts/base.html' %}

{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
      'text': 'Back',
      'href': url_for('datamanager.dashboard_add_import')
    }) }}

    <h1 class="govuk-heading-xl">Confirm endpoint configuration</h1>

    <p class="govuk-body">
      Review the imported configuration details below. If everything looks correct, click "Continue to form" to proceed with adding this endpoint.
    </p>

    {{ govukSummaryList({
      'rows': [
        {
          'key': { 'text': 'Organisation' },
          'value': { 'text': data.get('organisation', '') }
        },
        {
          'key': { 'text': 'Dataset (Pipeline)' },
          'value': { 'text': data.get('pipelines', '') }
        },
        {
          'key': { 'text': 'Endpoint URL' },
          'value': { 'html': '<a href="' + data.get('endpoint-url', '') + '" class="govuk-link" target="_blank" rel="noopener">' + data.get('endpoint-url', '') + '</a>' }
        },
        {
          'key': { 'text': 'Documentation URL' },
          'value': { 'html': '<a href="' + data.get('documentation-url', '') + '" class="govuk-link" target="_blank" rel="noopener">' + data.get('documentation-url', '') + '</a>' if data.get('documentation-url') else '<span class="govuk-hint">Not provided</span>' }
        },
        {
          'key': { 'text': 'Start date' },
          'value': { 'text': data.get('start-date', '') if data.get('start-date') else 'Not provided (will use today\'s date)' }
        },
        {
          'key': { 'text': 'Plugin' },
          'value': { 'text': data.get('plugin', '') if data.get('plugin') else 'None' }
        },
        {
          'key': { 'text': 'Licence' },
          'value': { 'text': data.get('licence', '') if data.get('licence') else 'ogl (default)' }
        }
      ]
    }) }}

    <form method="post" action="{{ url_for('datamanager.dashboard_add_import_confirm') }}">
      <div class="govuk-button-group">
        {{ govukButton({
          'text': 'Continue to form',
          'attributes': { 'id': 'continue-button' }
        }) }}

        <a class="govuk-link" href="{{ url_for('datamanager.dashboard_add_import') }}">
          Edit CSV data
        </a>
      </div>
    </form>

  </div>
</div>
{% endblock %}
