{% extends 'layouts/base.html' %}
{% block pageTitle %}Configure data | Manage Data{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="container govuk-!-margin-top-9 govuk-!-padding-6" style="text-align:center; background:#f3f2f1; border:1px dashed #b1b4b6; border-radius:8px;">
    <div class="icon" aria-hidden="true" style="font-size:48px; line-height:1;">&#9888;</div>
    <h1 class="govuk-heading-l govuk-!-margin-top-2">Page Under Construction</h1>
    <p class="govuk-body">
      This dashboard configuration page is currently being built.<br>
      Please check back later.
    </p>
  </div>
</div>
{% endblock content %}