{% extends 'layouts/base.html' %}

{% from 'components/rule-table-header.html' import ruleTableHead %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ url_for('base.index') }}">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ url_for('datamanager.index') }}">DataManager</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      {{datamanager.name}}
    </li>
  </ol>
</div>
{% endblock beforeContent %}

{% block content %}

<span class="govuk-caption-xl">DataManager</span>
<h1 class="govuk-heading-xl">{{datamanager.name}}</h1>



{% endblock content %}
