{% extends 'layouts/base.html' %}
{% from 'components/rule-table-header.html' import ruleTableHead %}


{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton %}
{% from "govuk_frontend_jinja/components/breadcrumbs/macro.html" import govukBreadcrumbs %}
{% block pageTitle %}Manage Data | Dashboard{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ url_for('base.index') }}">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ url_for('datamanager.index') }}">DataManager</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      {{datamanager.name}}
    </li>
  </ol>
</div>
{% endblock beforeContent %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Manage Data</h1>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Add Data</h1>
    <span class="govuk-caption-l">The process allows you to check data, assign column mapping, lookups etc</span>
    <div class="govuk-!-margin-top-4 govuk-button-group">
        {{ govukButton({
            'text': 'Add data',
            'href': url_for('datamanager.dashboard_add'),
            'attributes': { 'aria-label': 'Add data' }
        }) }}
      </div>
   
  </div>
  </div>
{% endblock %}