{%- from 'govuk_frontend_jinja/components/table/macro.html' import govukTable -%}
{%- from 'govuk_frontend_jinja/components/details/macro.html' import govukDetails -%}
{% extends 'digital-land-frontend/layouts/base.jinja' %}
{% from 'macro/data-item.html' import appDataItem %}

{% block cookieBanner %}
<!-- Dummy cookie banner block, remove this when we need cookies -->
{% endblock cookieBanner %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/stylesheets/application.css">
<style {% if config["ENV"]=="production" %}nonce="{{ csp_nonce() }}" {% endif %}>
  .govuk-required {
    color: #d4351c;
  }
</style>
{% block pageStylesheets %}{% endblock pageStylesheets %}
{% endblock %}

{% block mastHead %}
<header class="govuk-header {{ app_header_classes }}" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container app-govuk-header__container">
    <div class="app-header__content">
      <span class="app-header__team-name">
        <a href="https://digital-land.info"
          class="govuk-header__link govuk-header__link--homepage app-govuk-header__link--homepage app-govuk-header__link--homepage--bold">
          <span class="govuk-header__logotype-text">
            Digital Land
          </span>
        </a>
      </span>
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__product-name">
          Config manager
        </span>
      </a>
      <strong class="govuk-tag govuk-phase-banner__content__tag app-header__tag">
        prototype
      </strong>
      </a>
    </div>
  </div>
</header>
{% endblock mastHead %}

{% block beforeContent %}
{% if session['user'] %}
{% from 'components/user-bar.html' import appUserBar %}
{{ appUserBar({
"user": session['user']
}) }}
{% endif %}
{% endblock beforeContent %}

{% block content %}
<h1 class="govuk-heading-xl">{{ title|default('Index') }}</h1>
{% endblock content %}
