{% extends 'layouts/base.html' %}
{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ url_for('base.index') }}">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Pipelines
    </li>
  </ol>
</div>
{% endblock beforeContent %}

{% block content %}


<h1 class="govuk-heading-xl">Pipeline configuration</h1>

<a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="#">
  Set up new pipeline configuration
</a>

<h2 class="govuk-heading-m">Dataset pipelines</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">These pipelines have been configured to collect and process data to create a dataset.</p>
  </div>
</div>

<p class="govuk-body">{{ pipelines|length }} pipelines.</p>

<ul class="govuk-list govuk-list--bullet">
{% for pipeline in pipelines %}
  <li><a class="govuk-link" href="{{url_for('pipeline.pipeline', pipeline_id=pipeline.pipeline)}}">{{ pipeline.name }}</a></li>
{% endfor %}
</ul>

<h2 class="govuk-heading-m">Pipelines for category data</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">These pipelines collect the category data that is managed by DLUHC. Category data is maintained in registers and should not need to be transformed by a pipeline.</p>
  </div>
</div>

<p class="govuk-body">{{ category_pipelines|length }} pipelines.</p>

<ul class="govuk-list govuk-list--bullet">
{% for pipeline in category_pipelines %}
<li><a class="govuk-link" href="{{url_for('pipeline.pipeline', pipeline_id=pipeline.pipeline)}}">{{ pipeline.name }}</a></li>
{% endfor %}
</ul>

{% endblock content %}
