{% extends 'layouts/base.html' %}
{% from "govuk_frontend_jinja/components/accordion/macro.html" import govukAccordion %}
{% from "govuk_frontend_jinja/components/details/macro.html" import govukDetails %}

{% block beforeContent %}
{{ super() }}
<a href="{{ url_for('resource.resource', resource_hash=resource.resource) }}" class="govuk-back-link">Back to resource</a>
{% endblock beforeContent %}

{% block content %}
<span class="govuk-caption-xl">Resource - {{ resource.resource|truncate(15) }}</span>
<h1 class="govuk-heading-xl">Columns</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">When a resource is processed we often need to map a column present to a column we expect to see.</p>
    <p class="govuk-body">Column mappings are applied on a per dataset basis.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          See sample row from collected resource
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list">
          {% for k, v in sample_row.items() %}
          <li>{{ k }}: {{ v }}</li>
          {% endfor %}
        </ul>
      </div>
    </details>
  </div>
</div>

{% if datasets|length > 1 %}
<hr class="govuk-section-break--l">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">This resource gets processed for {{ datasets|length }} datasets.</p>
    <form action="" class="govuk-form" method="GET">
      <div class="govuk-form-group">
        <label for="dataset" class="govuk-label">Select dataset to view</label>
        <select name="dataset" id="" class="govuk-select">
          {% for d in datasets %}
            <option value="{{ d.dataset }}"{% if d.dataset == dataset %} selected='selected'{% endif %}>{{ d.name }}</option>
          {% endfor %}
        </select>
      </div>
      <button class="govuk-button govuk-button--secondary">Select</button>
    </form>
  </div>
</div>
<hr class="govuk-section-break--l">
{% endif %}

{% for dataset in datasets %}
<h2 class="govuk-heading-l">{{ dataset.name }}</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Results after processing the resource for {{ dataset.name }} data.</p>

    <p class="govuk-body"><span class="govuk-!-font-size-48 govuk-!-font-weight-bold">{{ missing_fields|length }}</span> fields missing from expected fields for {{ dataset.name }}.</p>
    {{ govukDetails({
      "summaryText": "What do we mean by a missing field?",
      "text": "For each dataset there is a number of expected fields. When data is extracted from the resource we check which fields we've been able to extract data for. If no data has been extracted for a field it is considered to be missing."
    }) }}
    <p class="govuk-body">
      <span class="govuk-!-font-size-48 govuk-!-font-weight-bold">{{ unused_columns|length }}</span> unused columns from the resource.
    </p>
    {{ govukDetails({
      "summaryText": "What do we mean by unused columns?",
      "text": "In a resource there are a number of columns per row. We look through these to see if we can extract data. If we recognise the field name or if there is an applicable mapping we will use the data in the column. If there isn't we can't use the data - in this case we consider the column to be unused."
    }) }}
  </div>
</div>
<h2 class="govuk-heading-m govuk-!-margin-top-6">Applicable rules</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <p class="govuk-body">These are the rules that are applied when processing this resource looking for {{ dataset.name }} data.</p>
  </div>
</div>

{% set datasetHeaderHTML %}
<h3 class="govuk-heading-s app-accordion__heading__header">Dataset mappings</h3>
<p class="govuk-body govuk-!-margin-bottom-0">{{ relevant_dataset_mappings|length }} mapping rules set for the {{ dataset.name }} dataset apply to this resource.</p>
{% endset %}

{% set datasetHTML %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">When we process this resource to extract {{ dataset.name }} data the following dataset column mappings are applied</p>
    <ul class="govuk-list app-mapping-list">
      <li class="app-mapping-item">
        <h5 class="govuk-heading-xs app-mapping-item__heading">Resource<span class="govuk-visually-hidden"> headings</span></h5>
        <span class="app-mapping-item__invisible">map to</span>
        <h5 class="govuk-heading-xs app-mapping-item__heading">Schema<span class="govuk-visually-hidden"> headings</span></h5>
      </li>
      {% for col in relevant_dataset_mappings %}
      <li class="app-mapping-item">
        <span class="app-mapping-item__unit">{{ col.column }}</span>
        <span class="app-mapping-item__label"><span>is mapped to</span></span>
        <span class="app-mapping-item__unit">{{ col.field_id }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endset %}

{% set resourceHeaderHTML %}
<h3 class="govuk-heading-s app-accordion__heading__header">Resource mappings</h3>
<p class="govuk-body govuk-!-margin-bottom-0">{{ resource_mappings|length }} mapping rules set for the resource.</p>
{% endset %}

{% set resourceHTML %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">When processing this resource to extract {{ dataset.name }} data the following resource specific column mappings are applied.</p>
    <p class="govuk-body">Resource mappings replace global mappings for the same column.</p>
    {% if resource_mappings|length == 0 %}
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        No resource specific mappings have been set.
      </strong>
    </div>
    {% else %}
    <ul class="govuk-list app-mapping-list">
      <li class="app-mapping-item">
        <h5 class="govuk-heading-s app-mapping-item__heading">Resource<span class="govuk-visually-hidden"> headings</span></h5>
        <span class="app-mapping-item__invisible">map to</span>
        <h5 class="govuk-heading-s app-mapping-item__heading">Schema<span class="govuk-visually-hidden"> headings</span></h5>
      </li>
      {% for col in resource_mappings %}
      <li class="app-mapping-item">
        <span class="app-mapping-item__unit">{{ col.column }}</span>
        <span class="app-mapping-item__label"><span>is mapped to</span></span>
        <span class="app-mapping-item__unit">{{ col.field_id }}</span>
        <div class="app-mapping-item__delete">
          <a href="{{ url_for('resource.columns_remove', resource_hash=resource.resource, dataset=dataset.dataset, column=col.column, field=col.field_id) }}">
            <span class="app-mapping-item__delete__btn">x</span>
            <span class="app-mapping-item__delete__label">Delete mapping</span>
          </a>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    <a href="{{ url_for('resource.columns_add', resource_hash=resource.resource) }}" class="govuk-button">Add new rule</a>
  </div>
</div>
{% endset %}

{{ govukAccordion({
  "id": "accordion-default",
  "items": [
    {
      "heading": {
        "html": datasetHeaderHTML
      },
      "content": {
        "html": datasetHTML
      }
    },
    {
      "heading": {
        "text": resourceHeaderHTML
      },
      "content": {
        "html": resourceHTML
      }
    }
  ]
}) }}


{% endfor %}

{% endblock content %}
