{% extends 'layouts/base.html' %}

{% block content %}
<span class="govuk-caption-xl">Resource - {{ resource.resource|truncate(15) }}</span>
<h1 class="govuk-heading-xl">Columns</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">When a resource is processed we often need to map a column present to a column we expect to see.</p>
    <p class="govuk-body">Column mappings are applied on a per dataset basis.</p>
  </div>
</div>

{% for dataset in datasets %}
<h2 class="govuk-heading-l">{{ dataset }}</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">Global mappings</h3>
    <p class="govuk-body">When we process this resource to extract {{ dataset }} data the following global column mappings are applied</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <ul class="govuk-list app-mapping-list">
      <li class="app-mapping-item">
        <h5 class="govuk-heading-s app-mapping-item__heading">Resource<span class="govuk-visually-hidden"> headings</span></h5>
        <span class="app-mapping-item__invisible">map to</span>
        <h5 class="govuk-heading-s app-mapping-item__heading">Schema<span class="govuk-visually-hidden"> headings</span></h5>
      </li>
      {% for col in global_mappings %}
      <li class="app-mapping-item">
        <span class="app-mapping-item__unit">{{ col.column }}</span>
        <span>is mapped to</span>
        <span class="app-mapping-item__unit">{{ col.field_id }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m govuk-!-margin-top-6">Resource mappings</h3>
    <p class="govuk-body">When processing this resource to extract {{ dataset }} data the following resource specific column mappings are applied.</p>
    <p class="govuk-body">Resource mappings replace global mappings for the same column.</p>
    {% if resource_mappings|length == 0 %}
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        No resource specific mappings have been set.
      </strong>
    </div>
    {% endif %}
  </div>
</div>

{% endfor %}

{% endblock content %}
