{% extends 'layouts/base.html' %}
{% from "govuk_frontend_jinja/components/accordion/macro.html" import govukAccordion %}

{% block beforeContent %}
{{ super() }}
<a href="{{ url_for('resource.resource', resource_hash=resource.resource) }}" class="govuk-back-link">Back to resource</a>
{% endblock beforeContent %}

{% block content %}
<span class="govuk-caption-xl">Resource - {{ resource.resource|truncate(15) }}</span>
<h1 class="govuk-heading-xl">Columns</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">When a resource is processed we often need to map a column present to a column we expect to see.</p>
    <p class="govuk-body">Column mappings are applied on a per dataset basis.</p>
  </div>
</div>

{% for dataset in datasets %}
<h2 class="govuk-heading-l">{{ dataset.name }}</h2>

{% set datasetHeaderHTML %}
<h3 class="govuk-heading-m app-accordion__heading__header">Dataset mappings</h3>
<p class="govuk-body govuk-!-margin-bottom-0">{{ relevant_dataset_mappings|length }} mapping rules set for the {{ dataset.name }} dataset apply to this resource.</p>
{% endset %}

{% set datasetHTML %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">When we process this resource to extract {{ dataset.name }} data the following dataset column mappings are applied</p>
    <ul class="govuk-list app-mapping-list">
      <li class="app-mapping-item">
        <h5 class="govuk-heading-s app-mapping-item__heading">Resource<span class="govuk-visually-hidden"> headings</span></h5>
        <span class="app-mapping-item__invisible">map to</span>
        <h5 class="govuk-heading-s app-mapping-item__heading">Schema<span class="govuk-visually-hidden"> headings</span></h5>
      </li>
      {% for col in relevant_dataset_mappings %}
      <li class="app-mapping-item">
        <span class="app-mapping-item__unit">{{ col.column }}</span>
        <span class="app-mapping-item__label"><span>is mapped to</span></span>
        <span class="app-mapping-item__unit">{{ col.field_id }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endset %}

{% set resourceHeaderHTML %}
<h3 class="govuk-heading-m app-accordion__heading__header">Resource mappings</h3>
<p class="govuk-body govuk-!-margin-bottom-0">{{ resource_mappings|length }} mapping rules set for the resource.</p>
{% endset %}

{% set resourceHTML %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">When processing this resource to extract {{ dataset.name }} data the following resource specific column mappings are applied.</p>
    <p class="govuk-body">Resource mappings replace global mappings for the same column.</p>
    {% if resource_mappings|length == 0 %}
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        No resource specific mappings have been set.
      </strong>
    </div>
    {% else %}
    <ul class="govuk-list app-mapping-list">
      <li class="app-mapping-item">
        <h5 class="govuk-heading-s app-mapping-item__heading">Resource<span class="govuk-visually-hidden"> headings</span></h5>
        <span class="app-mapping-item__invisible">map to</span>
        <h5 class="govuk-heading-s app-mapping-item__heading">Schema<span class="govuk-visually-hidden"> headings</span></h5>
      </li>
      {% for col in resource_mappings %}
      <li class="app-mapping-item">
        <span class="app-mapping-item__unit">{{ col.column }}</span>
        <span class="app-mapping-item__label"><span>is mapped to</span></span>
        <span class="app-mapping-item__unit">{{ col.field_id }}</span>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    <a href="{{ url_for('resource.columns_add', resource_hash=resource.resource) }}" class="govuk-button">Add new rule</a>
  </div>
</div>
{% endset %}

{{ govukAccordion({
  "id": "accordion-default",
  "items": [
    {
      "heading": {
        "html": datasetHeaderHTML
      },
      "content": {
        "html": datasetHTML
      }
    },
    {
      "heading": {
        "text": resourceHeaderHTML
      },
      "content": {
        "html": resourceHTML
      }
    }
  ]
}) }}


{% endfor %}

{% endblock content %}
