{% extends 'layouts/base.html' %}

{% block beforeContent %}
{{ super() }}
<a href="{{ url_for('base.index') }}" class="govuk-back-link">Back to list of tools</a>
{% endblock beforeContent %}

{% block content %}
<h1 class="govuk-heading-xl">Rules</h1>

<p class="govuk-body">When processing resources digital land have collected there are a number of types of rules that are applied to extract the data.</p>

<h2 class="govuk-heading-l">Map columns to fields</h2>

<p class="govuk-body">Column or attribute names found in resources are referred to as columns.</p>
<p class="govuk-body">Attributes that make up part of a digital land schema are referred to as fields.</p>

<p class="govuk-body">We can create rules to map a column to a field.</p>
<p class="govuk-body">This means, if we see a column/attribute with a particular name we will put the value in the field.</p>

<h3 class="govuk-heading-s">Example</h3>
<p class="govuk-body">If we have the rule:</p>
<p class="govuk-body"><strong>HazSub</strong> to <strong>hazardous-substances</strong></p>

<p class="govuk-body">And the data in the resource looks like this:</p>

<dl class="app-data-example">
  <div class="app-data-example__item">
    <dt class="app-data-example__item__attr">HazSub</dt>
    <dd class="app-data-example__item__value">Yes</dd>
  </div>
</dl>

<p class="govuk-body">Then when processed it will be mapped to look like this:</p>

<dl class="app-data-example">
  <div class="app-data-example__item">
    <dt class="app-data-example__item__attr">hazardous-substances</dt>
    <dd class="app-data-example__item__value">Yes</dd>
  </div>
</dl>

<h2 class="govuk-heading-l">Defaults</h2>

<p class="govuk-body">We can set defaults to use when processing resources.</p>

<p class="govuk-body">A default tells the processor to look for the presence of an alternative column or attribute if the original one is not available.</p>

<p class="govuk-body">For example, if you are looking for a reference column then you might set id as a default.</p>

<h3 class="govuk-heading-s">Example</h3>

<p class="govuk-body"><strong>id</strong> if no <strong>reference</strong></p>

<p class="govuk-body">This would mean the processor, first, looks for a reference attribute. If that does not exist it will look for an id attribute and use that value.</p>

<p class="govuk-body">The data in the resource looks like this:</p>

<dl class="app-data-example">
  <div class="app-data-example__item">
    <dt class="app-data-example__item__attr">Reference</dt>
    <dd class="app-data-example__item__value"><span class="app-data-example__empty-cell">No value</span></dd>
  </div>
  <div class="app-data-example__item">
    <dt class="app-data-example__item__attr">Id</dt>
    <dd class="app-data-example__item__value">CAS00012</dd>
  </div>
</dl>

<p class="govuk-body">Then when processed it will be mapped to look like this:</p>

<dl class="app-data-example">
  <div class="app-data-example__item">
    <dt class="app-data-example__item__attr">Reference</dt>
    <dd class="app-data-example__item__value">CAS00012</dd>
  </div>
</dl>

<h2 class="govuk-heading-l">Concatenation of attributes</h2>

<p class="govuk-body">Sometimes the data we are interested in is split over mulitple columns/attributes in the resource.</p>

<p class="govuk-body">We can create rules that take the contents of multiple attributes and combines them into one field. We call this concatenation.</p>

<p class="govuk-body">For example, data in a resource might have a description, a notes and a misc attribute. We can create a rule to concatenate the values into a notes field.</p>

<h3 class="govuk-heading-s">Example</h3>

<p class="govuk-body"><strong>Description</strong> + <strong>Notes</strong> + <strong>Misc</strong> to <strong>Notes</strong></p>

<p class="govuk-body">The data in the resource looks like this:</p>

<dl class="app-data-example">
  <div class="app-data-example__item">
    <dt class="app-data-example__item__attr">Description</dt>
    <dd class="app-data-example__item__value">Some descriptive text.</dd>
  </div>
  <div class="app-data-example__item">
    <dt class="app-data-example__item__attr">Notes</dt>
    <dd class="app-data-example__item__value">Some more text.</dd>
  </div>
  <div class="app-data-example__item">
    <dt class="app-data-example__item__attr">Misc</dt>
    <dd class="app-data-example__item__value">And more.</dd>
  </div>
</dl>

<p class="govuk-body">Then when processed it will be mapped to look like this:</p>

<dl class="app-data-example">
  <div class="app-data-example__item">
    <dt class="app-data-example__item__attr">Notes</dt>
    <dd class="app-data-example__item__value">Some descriptive text.<br />
      Some more text.<br />
      And more.</dd>
  </div>
</dl>

{% endblock content %}
