{% extends 'layouts/base.html' %}
{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ url_for('base.index') }}">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Schemas
    </li>
  </ol>
</div>
{% endblock beforeContent %}

{% block content %}


<h1 class="govuk-heading-xl">Schemas</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">Schemas define the shape of the data. We configure one pipeline for each schema. Schemas are defined in the specification.</p>
  </div>
</div>

<p class="govuk-heading-m">{{ schemas|length }} schemas</p>

<ol class="govuk-list">

{% for schema in schemas %}
  <li class="govuk-!-margin-bottom-3 govuk-!-padding-bottom-3" style="border-bottom: 1px solid #ccc;"><a class="govuk-link" href="{{url_for('schema.schema', dataset_id=schema.dataset)}}">{{ schema.name }}</a></li>
{% endfor %}
</ol>

<div class="govuk-grid-column-full">

    {% for letter, datasets in grouped_datasets.items() %}
    <h2>{{ letter }}</h2>
    <ul>
      {% for d in datasets %}
        <li>{{ d.name }}</li>
      {% endfor %}
    </ul>

    {% endfor %}
</div>
  <!-- /.govuk-grid-row -->


{% endblock content %}
