{% extends 'layouts/base.html' %}
{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ url_for('base.index') }}">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Schemas
    </li>
  </ol>
</div>
{% endblock beforeContent %}

{% block content %}


<h1 class="govuk-heading-xl">Schemas</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Schemas define the shape of the data. We configure one pipeline for each schema. Schemas are defined in the specification.</p>
  </div>
</div>

<p class="govuk-body">{{ schemas|length }} schemas.</p>

<ul class="govuk-list govuk-list--bullet">
{% for schema in schemas %}
  <li><a class="govuk-link" href="{{url_for('schema.schema', dataset_id=schema.dataset)}}">{{ schema.name }}</a></li>
{% endfor %}
</ul>

{% endblock content %}
