{% extends 'layouts/base.html' %}
{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ url_for('base.index') }}">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Schemas
    </li>
  </ol>
</div>
{% endblock beforeContent %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Schemas</h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
      {{
        govukDetails({
          'summaryText': 'What is a Schema?',
          'text': 'Schemas define the shape of the data. We configure one pipeline for each schema. Schemas are defined in the specification.'
        })
      }}
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="govuk-heading-s govuk-!-text-align-right">Total schemas: {{ schemas|length }}</p>
    </div>
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-!-margin-bottom-4 govuk-section-break--visible">
    </div>
  </div>

  {% for letter, datasets in grouped_datasets.items() %}
    <div class="govuk-grid-row js-filter-item">
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-xl">{{ letter }}</h2>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list govuk-!-margin-bottom-0">
          {% for d in datasets %}
            <li class="govuk-!-margin-bottom-1 js-filter-item">
              <a class="govuk-link" href="{{url_for('schema.schema', dataset_id=d.dataset)}}">{{ d.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </div>
    </div>
  {% endfor %}

{% endblock content %}
