// import all digital land and GOVUK Frontend scss
@import "digital-land-frontend/dl-frontend";

// app specific common styles
@import "common/links";
@import "common/typography";

// app specific component scss
@import "components/accessible-autocomplete";
@import "components/accordion";
@import "components/actions-list";
@import "components/card";
@import "components/collapsible-section";
@import "components/custom-utilities";
@import "components/data-example";
@import "components/forms";
@import "components/govuk-details";
@import "components/header-bar";
@import "components/hero";
@import "components/mapping";
@import "components/select-datasets";
@import "components/summary-card";
@import "components/table";
@import "components/tools-list";
@import "components/user-bar";
@import "components/reporting";
@import "objects/moj-width-container";
@import "components/moj-sortable-table";

// custom scss
.app-input__warning {
  display: none;

  .js-enabled & {
    display: block;
  }
}

.app-summary-list__value__annotation {
  display: block;
  @include govuk-font($size: 16, $line-height: govuk-em(25, 16));
  color: govuk-colour("dark-grey");
}

.app-summary-list__value--warning {
  padding-left: 10px;
  background: govuk-tint(govuk-colour("yellow"), 75);
  border-left: 4px solid govuk-colour("yellow");

  .app-summary-list__value__annotation {
    color: govuk-shade(govuk-colour("yellow"), 65);
  }
}

.app-summary-list__value--success {
  padding-left: 10px;
  background: govuk-tint(govuk-colour("green"), 80);
  border-left: 4px solid govuk-shade(govuk-colour("green"), 20);

  .app-summary-list__value__annotation {
    color: govuk-shade(govuk-colour("green"), 20);
  }
}

.app-summary-list__value--error {
  padding-left: 10px;
  background: govuk-tint(govuk-colour("red"), 80);
  border-left: 4px solid govuk-colour("red");

  .app-summary-list__value__annotation {
    color: govuk-shade(govuk-colour("red"), 30);
  }
}

.app-summary-list__value__type {
  @include govuk-font($size: 16);
  color: govuk-colour("dark-grey");
}

.app-body__alert {
  padding: 10px;
  color: govuk-shade(govuk-colour("red"), 30);
  background: govuk-tint(govuk-colour("red"), 80);
  border-left: 4px solid govuk-colour("red");
}

.js-hidden {
  display: none !important;
}

.app-rule-actions {
  a {
    padding-right: 10px;

    &:last-of-type {
      padding-right: 0;
    }
  }
}

.app-rule-actions__delete {
  // using !important to cut a corner
  color: darken(#d4351c, 25) !important;
}

.app-main-wrapper {
  @include moj-width-container;
}

.app-table-issue-summary .govuk-table__header {
  padding-top: 0;
}

.app-table-issue-summary .govuk-table__body {
  white-space: normal;

  @media (min-width: 71.0625em) {
    white-space: nowrap;
  }

  .govuk-table__row:last-child {
    .govuk-table__cell.reporting-table-cell {
      font-weight: 700;
    }
  }
}
