// import all digital land and GOVUK Frontend scss
@import "digital-land-frontend/dl-frontend";

// app specific common styles
@import "common/links";

// app specific component scss
@import "components/accessible-autocomplete";
@import "components/actions-list";
@import "components/card";
@import "components/forms";
@import "components/header-bar";
@import "components/hero";
@import "components/tools-list";

// custom scss
.app-input__warning {
  display: none;

  .js-enabled & {
    display: block;
  }
}

.app-summary-list__value__annotation {
  color: govuk-colour("dark-grey");
}

.app-summary-list__value--warning {
  padding-left: 10px;
  background: govuk-tint(govuk-colour("yellow"), 75);
  border-left: 4px solid govuk-colour('yellow');

  .app-summary-list__value__annotation {
    color: govuk-shade(govuk-colour("yellow"), 65);
  }
}

.app-body__alert {
  padding-left: 10px;
  color: govuk-shade(govuk-colour("red"), 30);
  background: govuk-tint(govuk-colour("red"), 80);
  border-left: 4px solid govuk-colour('red');
}

.js-hidden {
  display: none !important;
}
