{% macro ruleTableHead(params) %}
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header">Dataset</th>
    {% for field in params.fields  %}
    {% if field.field not in ['dataset', 'start-date', 'end-date', 'entry-date'] %}
    <th scope="col" class="govuk-table__header">{{ field.name }}</th>
    {% endif %}
    {% endfor %}
    <th scope="col" class="govuk-table__header">Entry date</th>
    <th scope="col" class="govuk-table__header">Start date</th>
    <th scope="col" class="govuk-table__header">End date</th>
    {% if params.editable == 'true' %}
    <th scope="col" class="govuk-table__header"></th>
    {% endif %}
  </tr>
</thead>
{% endmacro %}
