{% macro summaryField(params) %}
<dd class="govuk-summary-list__value{{ ' app-summary-list__value--warning' if not params.value or params.value == '' }}">
  {% if not params.value or params.value == "" %}
    <span class="app-summary-list__value__annotation">You should add a {{ params.prop }}</span>
  {% else %}
  {{ params.value }}
  {% endif %}
</dd>
{% endmacro %}

{% macro summaryEditedField(params) %}
{% set original = params.value.original if params.value.original is not none else '' %}
<dd class="govuk-summary-list__value{{ ' app-summary-list__value--warning' if not params.value.edited or params.value.edited == '' }}">
  {% if original != params.value.edited %}
  <div class="app-summary-list__value__item">
    <span class="app-summary-list__value__type">Current:</span> {{ params.value.original if params.value.original }}
  </div>
  <div class="app-summary-list__value__item">
    <span class="app-summary-list__value__type">Your edit:</span> {{ params.value.edited if params.value.edited }}
  </div>
  {% else %}
  {{ original }}
  {% endif %}
  {% if not params.value.edited or params.value.edited == "" %}
    <span class="app-summary-list__value__annotation">You should add a {{ params.prop }}</span>
  {% endif %}
</dd>
{% endmacro %}

{% macro fullSourceCard(params) %}
<article class="app-card app-card--result">
  <div class="app-card__header">
    <div class="app-card__header__secondary">
      <h3 class="govuk-heading-s app-card__header__title">Source</h3>
      {% if params.controls %}
      {{ params.controls.html|safe }}
      {% endif %}
    </div>
  </div>

  <div class="app-card__body">

    <div class="app-card__row">
      <div class="app-card__properties">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Url
            </dt>
            <dd class="govuk-summary-list__value {{ 'app-summary-list__value--success' if params.reachable_url else 'app-summary-list__value--error' }}">
              {{ params.source.endpoint_url }}
              <span class="app-summary-list__value__annotation">
              {{ 'Url can be reached' if params.reachable_url else "Can't reach this url" }}
              </span>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Dataset
            </dt>
            <dd class="govuk-summary-list__value">
              {% for dataset in params.source.datasets %}
                {{ dataset.dataset}}{{ ', ' if not loop.last else '' }}
              {% endfor %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation
            </dt>
            <dd class="govuk-summary-list__value">
              {{ params.source.organisation }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Licence
            </dt>
            {% if params.edits %}
              {{- summaryEditedField({
                "value": {
                  "original": params.source['licence'],
                  "edited": params.edits['licence']
                },
                "prop": "licence"
              }) -}}
            {% else %}
              {{- summaryField({
                "value": params.source['licence'],
                "prop": "licence"
              }) -}}
            {% endif %}
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Attribution
            </dt>
            {% if params.edits %}
              {{- summaryEditedField({
                "value": {
                  "original": params.source['attribution'],
                  "edited": params.edits['attribution']
                },
                "prop": "attribution"
              }) -}}
            {% else %}
              {{- summaryField({
                "value": params.source['attribution'],
                "prop": "attribution"
              }) -}}
            {% endif %}
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
            {% set original = params.source.start_date if params.source.start_date is not none else '' %}
            {% if params.edits and original != params.edits.start_date %}
              <div class="app-summary-list__value__item">
                <span class="app-summary-list__value__type">Current:</span> {{ original }}
              </div>
              <div class="app-summary-list__value__item">
                <span class="app-summary-list__value__type">Your edit:</span> {{ params.edits.start_date if params.edits.start_date }}
              </div>
            {% else %}
              {{ params.source.start_date if params.source.start_date }}
            {% endif %}
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</article>
<!-- /.app-card -->
{% endmacro %}
