{% macro summaryField(params) %}
<dd class="govuk-summary-list__value{{ ' app-summary-list__value--warning' if not params.value or params.value == '' }}">
  {% if not params.value or params.value == "" %}
    <span class="app-summary-list__value__annotation">You should add a {{ params.prop }}</span>
  {% else %}
  {{ params.value }}
  {% endif %}
</dd>
{% endmacro %}

{% macro summaryEditedField(params) %}
{% set original = params.value.original if params.value.original is not none else '' %}
<dd class="govuk-summary-list__value{{ ' app-summary-list__value--warning' if not params.value.edited or params.value.edited == '' }}">
  {% if original != params.value.edited %}
  <div class="app-summary-list__value__item">
    <span class="app-summary-list__value__type">Current:</span> {{ params.value.original if params.value.original }}
  </div>
  <div class="app-summary-list__value__item">
    <span class="app-summary-list__value__type">Your edit:</span> {{ params.value.edited if params.value.edited }}
  </div>
  {% else %}
  {{ original }}
  {% endif %}
  {% if not params.value.edited or params.value.edited == "" %}
    <span class="app-summary-list__value__annotation">You should add a {{ params.prop }}</span>
  {% endif %}
</dd>
{% endmacro %}

{% macro fullSourceCard(params) %}
{% set existingSourceChangeHTML %}

  {% endset %}
<article class="app-card app-card--result">
  <div class="app-card__header">
    <div class="app-card__header__secondary">
      <h3 class="govuk-heading-s app-card__header__title">Source</h3>
      <div class="app-card__header__actions">
        {% if params.existing_source %}
        <a href="{{ url_for('source.edit', source_hash=params.existing_source.source) }}" class="govuk-link">Edit</a>
        {%- else %}
        <a href="{{ url_for('source.add', _change='true', **params.form.data) }}" class="govuk-link">Change</a>
        {% endif -%}
      </div>
    </div>
  </div>

  <div class="app-card__body">

    <div class="app-card__row">
      <div class="app-card__properties">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Url
            </dt>
            <dd class="govuk-summary-list__value{% if not params.existing_source %}
              {{ 'app-summary-list__value--success' if params.reachable_url else 'app-summary-list__value--error' }}{% endif %}">
              {{ params.existing_source.endpoint.endpoint_url if params.existing_source else params.source.endpoint_url }}
              {% if not params.existing_source %}<span class="app-summary-list__value__annotation">
              {{ 'Url can be reached' if params.reachable_url else "Can't reach this url" }}
              </span>{% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Dataset
            </dt>
            <dd class="govuk-summary-list__value">
              {% if params.existing_source %}
              {% for dataset in params.existing_source.datasets %}
                {{ dataset.name }}{{ ', ' if not loop.last else '' }}
              {% endfor %}
              {% else %}
              {{ params.source.dataset }}
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation
            </dt>
            <dd class="govuk-summary-list__value">
              {{ params.existing_source.organisation.name if params.existing_source else params.source.organisation }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Documentation url
            </dt>
            <dd class="govuk-summary-list__value">
              {% if params.existing_source %}
                {% set original = params.existing_source.documentation_url if params.existing_source.documentation_url is not none else '' %}
                {% if params.source.documentation_url != original %}
                <div class="app-summary-list__value__item">
                  <span class="app-summary-list__value__type">Current:</span> {{ original }}
                </div>
                <div class="app-summary-list__value__item">
                  <span class="app-summary-list__value__type">Your edit:</span> {{ params.source.documentation_url if params.source.documentation_url }}
                 </div>
                {% else %}
                  {{ params.source.documentation_url if params.source.documentation_url }}
                {% endif %}
              {% else %}
              {{ params.source.documentation_url if params.source.documentation_url }}
              {% endif %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Licence
            </dt>
            {% if params.existing_source %}
              {{- summaryEditedField({
                "value": {
                  "original": params.existing_source['licence'],
                  "edited": params.source['licence']
                },
                "prop": "licence"
              }) -}}
            {% else %}
              {{- summaryField({
                "value": params.source['licence'],
                "prop": "licence"
              }) -}}
            {% endif %}
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Attribution
            </dt>
            {% if params.existing_source %}
              {{- summaryEditedField({
                "value": {
                  "original": params.existing_source['attribution'],
                  "edited": params.source['attribution']
                },
                "prop": "attribution"
              }) -}}
            {% else %}
              {{- summaryField({
                "value": params.source['attribution'],
                "prop": "attribution"
              }) -}}
            {% endif %}
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
            {% if params.existing_source %}
              {% set original = params.existing_source.start_date.strftime("%Y-%m-%d") if params.existing_source.start_date is not none else '' %}
              {% if params.source.start_date == original %}
                {{ params.source.start_date if params.source.start_date }}
              {% else %}
                <div class="app-summary-list__value__item">
                  <span class="app-summary-list__value__type">Current:</span> {{ original }}
                </div>
                <div class="app-summary-list__value__item">
                  <span class="app-summary-list__value__type">Your edit:</span> {{ params.source.start_date if params.source.start_date }}
                </div>
              {% endif %}
            {% else %}
              {{ params.source.start_date if params.source.start_date }}
            {% endif %}
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</article>
<!-- /.app-card -->
{% endmacro %}


{% macro summarySourceCard(params) %}
<article class="app-card app-card--result">
  <div class="app-card__header">
    <div class="app-card__header__secondary">
      <h3 class="govuk-heading-s app-card__header__title">Source <a href="{{ url_for('source.source', source_hash=params.source.source) }}" class="govuk-link">{{ params.source.source }}</a></h3>
    </div>
  </div>

  <div class="app-card__body">

    <div class="app-card__row">
      <div class="app-card__properties">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation
            </dt>
            <dd class="govuk-summary-list__value">
              {{ params.source.organisation.name }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Datasets
            </dt>
            <dd class="govuk-summary-list__value">
              {% for dataset in params.source.datasets %}
                {{ dataset.name }}{{ ', ' if not loop.last else '' }}
              {% endfor %}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Url
            </dt>
            <dd class="govuk-summary-list__value">
              {{ params.source.endpoint.endpoint_url }}
            </dd>
          </div>

        </dl>
      </div>
    </div>
  </div><!-- /.app-card__body -->
  <div class="app-card__footer">
    <span class="app-card__footer__meta">Source added on {{ params.source.entry_date }}</span>
  </div>
</article>
<!-- /.app-card -->
{% endmacro %}
