{% extends 'layouts/base.html' %}

{% block pageStylesheets %}
<link rel="stylesheet" href="/static/stylesheets/vendor/accessible-autocomplete.min.css">
{% endblock pageStylesheets %}

{% block content %}
<h1 class="govuk-heading-xl">Create a source entry</h1>

<form method="POST" action="" class="govuk-form">
  {{ form.hidden_tag() }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class='govuk-form-group{% if form.endpoint.errors %} govuk-form-group--error{% endif %}'>
        <label class='govuk-label' for='endpoint'>URL</label>
        {% if form.endpoint.errors %}
        <p class="govuk-error-message">
          {% for error in form.endpoint.errors %}<span class="govuk-visually-hidden">Error:</span> {{ error }}{% endfor %}
        </p>
        {% endif %}
        {{ form.endpoint(required=False, class="govuk-input")}}
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class='govuk-form-group{% if form.dataset.errors %} govuk-form-group--error{% endif %}'>
        <label class='govuk-label' for='dataset'>Dataset</label>
        {% if form.dataset.errors %}
        <p class='govuk-error-message'>
          {% for error in form.dataset.errors %}<span class='govuk-visually-hidden'>Error:</span> {{ error }}{% endfor %}
        </p>
        {% endif %}
        {{ form.dataset(required=False, class="govuk-input")}}
      </div>
      <div class='govuk-form-group{% if form.organisation.errors %} govuk-form-group--error{% endif %}'>
        <label class='govuk-label' for='organisation'>Organisation</label>
        {% if form.organisation.errors %}
        <p class='govuk-error-message'>
          {% for error in form.organisation.errors %}<span class='govuk-visually-hidden'>Error:</span> {{ error }}{% endfor %}
        </p>
        {% endif %}
        {{ form.organisation(required=False, class="govuk-select govuk-!-width-two-thirds")}}
      </div>
    </div>
  </div>

  <div class="govuk-form-group">
    <a class='govuk-button govuk-button--secondary' data-module='govuk-button'>
    Add another source
    </a>
  </div>
  <div class="govuk-form-group">
    <button class='govuk-button' data-module='govuk-button'>
    Save and continue
    </button>
  </div>
</form>

{% endblock content %}

{% block pageScripts %}
<script src="{{ assetPath | default('/assets') }}/javascripts/vendor/govuk-accessible-autocomplete.min.js"></script>
<script>
accessibleAutocomplete.enhanceSelectElement({
  defaultValue: 'Start typing organisation name',
  selectElement: document.querySelector('#organisation')
})
</script>
{% endblock pageScripts %}
