{% extends 'layouts/base.html' %}

{% block pageStylesheets %}
<link rel="stylesheet" href="/static/stylesheets/vendor/accessible-autocomplete.min.css">
{% endblock pageStylesheets %}

{% block content %}
<h1 class="govuk-heading-xl">Create a source entry</h1>

<form method="GET" action="{{ url_for('source.add') }}" class="govuk-form">
  {{ form.hidden_tag() }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class='govuk-form-group{% if form.endpoint_url.errors %} govuk-form-group--error{% endif %}' data-module="endpoint-input">
        <label class='govuk-label' for='endpoint'>URL</label>
        {% if form.endpoint_url.errors %}
        <p class="govuk-error-message">
          {% for error in form.endpoint_url.errors %}<span class="govuk-visually-hidden">Error:</span> {{ error }}{% endfor %}
        </p>
        {% endif %}
        {{ form.endpoint_url(required=False, class="govuk-input")}}
        <div class="app-input__warning">
        We have this endpoint url already. <span class="app-input__warning__endpoint-count" data-singular="source references" data-plural="sources reference"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class='govuk-form-group{% if form.dataset.errors %} govuk-form-group--error{% endif %}'>
        <label class='govuk-label' for='dataset'>Dataset</label>
        <div id="organisation-hint" class="govuk-hint">
          The dataset the source is for
        </div>
        {% if form.dataset.errors %}
        <p class='govuk-error-message'>
          {% for error in form.dataset.errors %}<span class='govuk-visually-hidden'>Error:</span> {{ error }}{% endfor %}
        </p>
        {% endif %}
        {{ form.dataset(required=False, class="govuk-select")}}
      </div>
      <div class='govuk-form-group{% if form.organisation.errors %} govuk-form-group--error{% endif %}'>
        <label class='govuk-label' for='organisation'>Organisation</label>
        <div id="organisation-hint" class="govuk-hint">
          The name of the organisation the source belongs to
        </div>
        {% if form.organisation.errors %}
        <p class='govuk-error-message'>
          {% for error in form.organisation.errors %}<span class='govuk-visually-hidden'>Error:</span> {{ error }}{% endfor %}
        </p>
        {% endif %}
        {{ form.organisation(required=False, class="govuk-select govuk-!-width-two-thirds")}}
      </div>
      <div class='govuk-form-group{% if form.documentation_url.errors %} govuk-form-group--error{% endif %}'>
        <label class='govuk-label' for='documentation-url'>Documentation url</label>
        <div id="documentation-url-hint" class="govuk-hint">
          A link to a page explaining the data source
        </div>
        {% if form.documentation_url.errors %}
        <p class='govuk-error-message'>
          {% for error in form.documentation_url.errors %}<span class='govuk-visually-hidden'>Error:</span> {{ error }}{% endfor %}
        </p>
        {% endif %}
        {{ form.documentation_url(required=False, class="govuk-input")}}
      </div>
      <div class='govuk-form-group{% if form.licence.errors %} govuk-form-group--error{% endif %}'>
        <label class='govuk-label' for='licence'>Licence</label>
        <p id="organisation-hint" class="govuk-hint">
          If available, add the licence the data was published under
        </p>
        {% if form.licence.errors %}
        <p class='govuk-error-message'>
          {% for error in form.licence.errors %}<span class='govuk-visually-hidden'>Error:</span> {{ error }}{% endfor %}
        </p>
        {% endif %}
        {{ form.licence(required=False, class="govuk-input govuk-!-width-one-half")}}
      </div>
      <div class='govuk-form-group{% if form.attribution.errors %} govuk-form-group--error{% endif %}'>
        <label class='govuk-label' for='attribution'>Attribution</label>
        <p id="organisation-hint" class="govuk-hint">
          If available, add the attribution for the data
        </p>
        {% if form.attribution.errors %}
        <p class='govuk-error-message'>
          {% for error in form.attribution.errors %}<span class='govuk-visually-hidden'>Error:</span> {{ error }}{% endfor %}
        </p>
        {% endif %}
        {{ form.attribution(required=False, class="govuk-input govuk-!-width-one-half")}}
      </div>
      <div class='govuk-form-group{% if form.start_date.errors %} govuk-form-group--error{% endif %}'>
        <label class='govuk-label' for='start_date'>Start date</label>
        <p id="organisation-hint" class="govuk-hint">
          If known, add the date of publication. Dates should be in the YYYY-MM-DD format.
        </p>
        {% if form.start_date.errors %}
        <p class='govuk-error-message'>
          {% for error in form.start_date.errors %}<span class='govuk-visually-hidden'>Error:</span> {{ error }}{% endfor %}
        </p>
        {% endif %}
        {{ form.start_date(required=False, class="govuk-input govuk-!-width-one-half")}}
      </div>
    </div>
  </div>

  <!--<div class="govuk-form-group">
    <a class='govuk-button govuk-button--secondary' data-module='govuk-button'>
    Add another source
    </a>
  </div>-->
  <div class="govuk-button-group">
    <button class='govuk-button' data-module='govuk-button'>
    Save and continue
    </button>

    <a class="govuk-link" href="{{ url_for('source.search') }}">Cancel</a>
  </div>
</form>

{% endblock content %}

{% block pageScripts %}
<script src="{{ assetPath | default('/assets') }}/javascripts/vendor/govuk-accessible-autocomplete.min.js"></script>
<script src="{{ assetPath | default('/assets') }}/javascripts/application-add-source.js"></script>
{% endblock pageScripts %}
