{% extends 'layouts/base.html' %}

{% block content %}
<h1 class="govuk-heading-xl">Edit source</h1>
{% if source %}

{% if source.entry_date %}
<p class="govuk-body">This source was created on {{ source.entry_date }}.</p>
{% endif %}

{% if source.end_date %}
<p class="govuk-body">This source has been archived. It was archived on {{ source.end_date }}</p>
{% endif %}

<form method="POST" class="govuk-form">
  {{ form.hidden_tag() }}
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Source
      </dt>
      <dd class="govuk-summary-list__value">
        {{ source.source }}
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Endpoint
      </dt>
      <dd class="govuk-summary-list__value">
        {{ form.endpoint(required=False, class="govuk-input")}}
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Organisation
      </dt>
      <dd class="govuk-summary-list__value">
        {{ form.organisation(required=False, class="govuk-select")}}
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Documentation url
      </dt>
      <dd class="govuk-summary-list__value">
        {{ form.documentation_url(required=False, class="govuk-input")}}
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Collection
      </dt>
      <dd class="govuk-summary-list__value">
        {{ source.collection }}
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Licence
      </dt>
      <dd class="govuk-summary-list__value">
        {{ form.licence(required=False, class="govuk-input govuk-!-width-one-half")}}
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Attribution
      </dt>
      <dd class="govuk-summary-list__value">
        {{ form.attribution(required=False, class="govuk-input govuk-!-width-one-half")}}
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Start date
      </dt>
      <dd class="govuk-summary-list__value">
        {{ form.start_date(required=False, class="govuk-input govuk-!-width-one-half")}}
      </dd>
    </div>

  </dl>

  <div class="govuk-button-group">
    <button class="govuk-button" data-module="govuk-button">
      Save changes
    </button>

    <a class="govuk-link" href="{{ url_for('addsource.source', source_hash=source.source) }}">Cancel</a>
  </div>
</form>
{% endif %}
{% endblock content %}
