{% extends 'layouts/base.html' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Source saved
      </h1>
    </div>

    <p class="govuk-body">We have saved the source.</p>
    <p class="govuk-body">
      <a href="{{ url_for('source.source', source_hash=source.source) }}" class="govuk-link">See source record</a>
    </p>

    <p class="govuk-body">The collector will attempt to collect from the {{ source.collection.name }} collection repo name next time it runs.</p>

    <h2 class="govuk-heading-m">What do you want to do next?</h2>

    <h3 class="govuk-heading-s">I have more sources to add</h3>
    <p class="govuk-body">
      <a href="{{ url_for('source.add') }}" class="govuk-link">Add another source.</a>
    </p>

    <h3 class="govuk-heading-s">I have finished adding sources</h3>

  </div>
</div>
{% endblock content %}
