{% extends 'layouts/base.html' %}

{% block content %}
<h1 class="govuk-heading-xl">Source record</h1>
{% if source %}
<div class="app-source__actions app-actions-list--right">
  <ul class="app-actions-list">
    <li class="app-actions-list__item">
      <a href="{{ url_for('addsource.edit', source_hash=source.source) }}" class="govuk-link">Edit<span class="govuk-visually-hidden"> source</span></a>
    </li>
    <li class="app-actions-list__item">
      <a href="{{ url_for('addsource.archive', source_hash=source.source) }}" class="govuk-link app-link--destructive">Archive<span class="govuk-visually-hidden"> source</span></a>
    </li>
  </ul>
</div>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Source
    </dt>
    <dd class="govuk-summary-list__value">
      {{ source.source }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Documentation url
    </dt>
    <dd class="govuk-summary-list__value">
      {{ source.documentation_url }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Organisation
    </dt>
    <dd class="govuk-summary-list__value">
      {{ source.organisation.name }}
      <span class="govuk-!-margin-left-1 dl-data-reference">({{ source.organisation.organisation }})</span>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Endpoint
    </dt>
    <dd class="govuk-summary-list__value">
      {{ source.endpoint.endpoint_url }}
      <span class="govuk-!-margin-left-1 dl-data-reference" title="{{ source.endpoint.endpoint }}">({{ source.endpoint.endpoint|truncate(13) }})</span>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Collection
    </dt>
    <dd class="govuk-summary-list__value">
      {{ source.collection }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Pipeline
    </dt>
    <dd class="govuk-summary-list__value">
      {% for pipeline in source.pipelines %}
      {{ pipeline.schema }}{{ ', ' if not loop.last else '' }}
      {% endfor %}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Attribution
    </dt>
    <dd class="govuk-summary-list__value">
      {{ source.attribution }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Licence
    </dt>
    <dd class="govuk-summary-list__value">
      {{ source.licence }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Entry date
    </dt>
    <dd class="govuk-summary-list__value">
      {{ source.entry_date }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Start date
    </dt>
    <dd class="govuk-summary-list__value">
      {{ source.start_date }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      End date
    </dt>
    <dd class="govuk-summary-list__value">
      {{ source.end_date }}
    </dd>
  </div>
</dl>
{% endif %}
{% endblock content %}
