{% extends 'layouts/base.html' %}

{% block content %}

<h1 class="govuk-heading-xl">Check source details before submitting</h1>

{% for source in sources %}
<article class="app-card app-card--result">
  <div class="app-card__header">
    <div class="app-card__header__secondary">
      <h3 class="govuk-heading-s app-card__header__title">Source</h3>
      <div class="app-card__header__actions">
        <a href="#" class="govuk-link">Change</a>
      </div>
    </div>
  </div>

  <div class="app-card__body">

    <div class="app-card__row">
      <div class="app-card__properties">
        <dl class="govuk-summary-list govuk-!-margin-bottom-0">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Url
            </dt>
            <dd class="govuk-summary-list__value">
              {{ source.endpoint_url }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Dataset
            </dt>
            <dd class="govuk-summary-list__value">
              {{ source.dataset }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation
            </dt>
            <dd class="govuk-summary-list__value">
              {{ source.organisation }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Licence
            </dt>
            <dd class="govuk-summary-list__value">
              {{ source.licence }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Attribution
            </dt>
            <dd class="govuk-summary-list__value">
              {{ source.attribution }}
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              {{ source.start_date }}
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</article>
<!-- /.app-card -->
{% endfor %}

<a href="{{ url_for('source.finish') }}" class="govuk-button">Save source{{ "s" if sources|length > 1 }}</a>

{% endblock content %}
