{% extends 'layouts/base.html' %}
{% from 'components/source-card.html' import fullSourceCard %}

{% block content %}

<h1 class="govuk-heading-xl">Check source details before submitting</h1>

{% if existing_source %}
  <p class="govuk-body app-body__alert">You are editing a source that already exists.</p>
{% endif %}

{{ fullSourceCard({
  'source': sources[0],
  "reachable_url": url_reachable,
  "existing_source": existing_source,
  "form": form
}) }}

<form method="get" action="{{ url_for('source.finish') }}">
  {{ form.hidden_tag() }}
  {%  for name, value in form.data.items() %}
    <input type="hidden" name="{{ name }}" value="{{ value }}"/>
  {% endfor %}
  {% if existing_source %}
    <input type="hidden" name="existing_source" value="{{ existing_source.source }}"/>
  {%  endif %}
  <div class="govuk-button-group">
    {% if existing_source %}
    <input class="govuk-button"  type="submit" value="Save changes to source" />
    {% else %}
    <input class="govuk-button"  type="submit" value="Save source{{ "s" if sources|length > 1 }}" />
    {% endif %}
    <a class="govuk-link" href="{{ url_for('source.add') }}">Cancel</a>
  </div>
</form>


{% endblock content %}
