{% extends 'layouts/base.html' %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}
{% block beforeContent %}
<script {% if config["ENV"] == "production" %}nonce="{{ csp_nonce() }}"{% endif %} src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ url_for('base.index') }}">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      reporting
    </li>
  </ol>
</div>
{% endblock beforeContent %}

{% block content %}

<h1 class="govuk-heading-xl">ODP Summary</h1>

<button>Spacial</button>
<button>Document</button>
<button>Both</button>

<script>

</script>


{{ govukTable({
  "caption": "Spatial Datasets",
  "captionClasses": "govuk-table__caption--m",

  "head": odp_statuses_summary.spatial_headers,
  "rows": odp_statuses_summary.spatial_rows

}) }}

{{ govukTable({
    "caption": "Document Datasets",
    "captionClasses": "govuk-table__caption--m",

    "head": odp_statuses_summary.document_headers,
    "rows": odp_statuses_summary.document_rows

  }) }}

<script>
    console.log({{odp_statuses_summary | safe}})
</script>


{% endblock content %}
