{% extends 'layouts/base.html' %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}
{% from "govuk_frontend_jinja/components/radios/macro.html" import govukRadios %}

{% block beforeContent %}
<script {% if config["ENV"] == "production" %}nonce="{{ csp_nonce() }}"{% endif %} src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ url_for('base.index') }}">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Reporting
    </li>
  </ol>
</div>
{% endblock beforeContent %}

{% block content %}

<h1 class="govuk-heading-xl">ODP Summary</h1>

{{ govukRadios({
    "classes": "govuk-radios--inline",
    "name": "selectDatasetType",
    "fieldset": {
        "legend": {
          "text": "Select dataset type",
          "classes": "govuk-fieldset__legend--l"
        }
    },
    "items": [
      {
        "value": "spatial",
        "text": "Spatial",
        "id": "spatialSelection"
      },
      {
        "value": "document",
        "text": "Document",
        "id": "documentSelection"
      },
      {
        "value": "both",
        "text": "Both",
        "id": "bothSelection"
      }
    ]
  }) }}

<script {% if config["ENV"] == "production" %}nonce="{{ csp_nonce() }}"{% endif %}>
    const onChange = (e) => {
        if (e.target.value == "spatial") {
            document.getElementById("odp_document_table").hidden = true
            document.getElementById("odp_both_table").hidden = true
            document.getElementById("odp_spatial_table").hidden = false
        } else if (e.target.value == "document") {
            document.getElementById("odp_spatial_table").hidden = true
            document.getElementById("odp_both_table").hidden = true
            document.getElementById("odp_document_table").hidden = false
        } else {
            document.getElementById("odp_spatial_table").hidden = true
            document.getElementById("odp_document_table").hidden = true
            document.getElementById("odp_both_table").hidden = false
        }
    }

    document.getElementById("documentSelection").addEventListener("change", onChange)
    document.getElementById("spatialSelection").addEventListener("change", onChange)
    document.getElementById("bothSelection").addEventListener("change", onChange)
</script>

<div id="odp_spatial_table">
{{ govukTable({
  "head": odp_statuses_summary.spatial_headers,
  "rows": odp_statuses_summary.spatial_rows
}) }}
</div>

<div id="odp_document_table">
{{ govukTable({
    "head": odp_statuses_summary.document_headers,
    "rows": odp_statuses_summary.document_rows
  }) }}
</div>

<div id="odp_both_table">
    {{ govukTable({
        "head": odp_statuses_summary.both_headers,
        "rows": odp_statuses_summary.both_rows
      }) }}
    </div>

<script>
    console.log({{odp_statuses_summary | safe}})
</script>


{% endblock content %}
