{% extends 'layouts/base.html' %}
{% block beforeContent %}
<script {% if config["ENV"] == "production" %}nonce="{{ csp_nonce() }}"{% endif %} src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ url_for('base.index') }}">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      reporting
    </li>
  </ol>
</div>
{% endblock beforeContent %}

{% block content %}

<h1 class="govuk-heading-xl">Reporting - overview</h1>

<h2>Datasets</h2>
<h2>Organisations</h2>
<h2>Summary Tables</h2>

<h2 id="summary-title">Today's Summary: </h2>
<p id="contributions" class="govuk-body">Contributions: </p>
<p id="errors" class="govuk-body">Endpoint errors: </p>
<input type="date" id="date-selector"></input>
<p class="govuk-body">Data errors: {{ summary_metrics.errors }}</p>
<p class="govuk-body">Data warnings: {{ summary_metrics.warnings }}</p>
<p class="govuk-body">New resources: WIP</p>

<script>
  const handleChange = (e) => {
    console.log(e.target.value);
    document.getElementById('summary-title').innerHTML = e.target.value.concat(" Summary")
    contributions_index = {{ summary_metrics.contributions.dates | safe}}.indexOf(e.target.value)
    errors_index = {{ summary_metrics.endpoint_errors.dates | safe}}.indexOf(e.target.value)
    document.getElementById('contributions').innerHTML = "Contributions: ".concat({{ summary_metrics.contributions.contributions | safe}}[contributions_index])
    document.getElementById('errors').innerHTML = "Endpoint errors: ".concat({{ summary_metrics.endpoint_errors.errors | safe}}[errors_index])}

  const dateSelector = document.querySelector("#date-selector")
  dateSelector.addEventListener("change", handleChange)


</script>

<h2>Endpoints added per week:</h2>
<div>
  <canvas id="endpoint_added_graph"></canvas>
</div>


<h2>Resources downloaded per week:</h2>
<div>
  <canvas id="resources_downloaded_graph"></canvas>
</div>

<h2>Endpoint error % per week:</h2>
<div>
  <canvas id="endpoint_error_graph"></canvas>
</div>

<script {% if config["ENV"] == "production" %}nonce="{{ csp_nonce() }}"{% endif %}>
  const endpoints_ctx = document.getElementById('endpoint_added_graph');

  new Chart(endpoints_ctx, {
    type: 'line',
    data: {
      datasets: [{
        label: '# of endpoints added per week',
        data: {{graphs.endpoints_added_timeseries | safe}},
        borderWidth: 1
      }]
    },
    options: {
      parsing: {
        xAxisKey: 'date',
        yAxisKey: 'count'
      },
      scales: {
        y: {
          title: {
            display: true,
            text: "Endpoints added"
        },
          beginAtZero: true
        },
        x: {
          title: {
            display: true,
            text: "Week"
        }
      }
    }
  }});
</script>

<script {% if config["ENV"] == "production" %}nonce="{{ csp_nonce() }}"{% endif %}>
  const resources_ctx = document.getElementById('resources_downloaded_graph');

  new Chart(resources_ctx, {
    type: 'line',
    data: {
      datasets: [{
        label: '# of resources downloaded per week',
        data: {{graphs.endpoint_successes_timeseries | safe}},
        borderWidth: 1
      }]
    },
    options: {
      parsing: {
        xAxisKey: 'date',
        yAxisKey: 'count'
      },
      scales: {
        y: {
          title: {
            display: true,
            text: "Resources downloaded"
        },
        },
        x: {
          title: {
            display: true,
            text: "Week"
        }
      }
    }
  }});
</script>

<script {% if config["ENV"] == "production" %}nonce="{{ csp_nonce() }}"{% endif %}>
  const endpoint_errors_ctx = document.getElementById('endpoint_error_graph');

  new Chart(endpoint_errors_ctx, {
    type: 'line',
    data: {
      datasets: [{
        label: '% of active endpoints erroring',
        data: {{graphs.endpoint_errors_timeseries | safe}},
        borderWidth: 1
      }]
    },
    options: {
      parsing: {
        xAxisKey: 'date',
        yAxisKey: 'count'
      },
      scales: {
        y: {
          title: {
            display: true,
            text: "Error %"
        },
        },
        x: {
          title: {
            display: true,
            text: "Week"
        }
      }
    }
  }});
</script>
<script>
  console.log({{summary_metrics | safe}})
</script>
<script type="module">
    import SummaryMetrics from "{{ assetPath | default('/assets') }}/javascripts/reporting-summary.js"
    const summary_metrics = new SummaryMetrics({{summary_metrics | safe}}).init()
    // const dateSelector = document.querySelector("#date-selector")
    // dateSelector.addEventListener("change", summary_metrics.updateMetrics)
</script>

{% endblock content %}
