{% extends 'layouts/base.html' %}
{% block beforeContent %}
<script {% if config["ENV"] == "production" %}nonce="{{ csp_nonce() }}"{% endif %} src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ url_for('base.index') }}">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      reporting
    </li>
  </ol>
</div>
{% endblock beforeContent %}

{% block content %}

<h1 class="govuk-heading-xl">Reporting - overview</h1>

<h2>Datasets</h2>
<h2>Organisations</h2>
<h2>Summary Tables</h2>

<h2 id="summary-title">Today's Summary: </h2>
<p id="contributions" class="govuk-body">Contributions: </p>
<p id="errors" class="govuk-body">Endpoint errors: </p>
<input type="date" id="date-selector"></input>
<p class="govuk-body">Data errors: {{ summary_metrics.errors }}</p>
<p class="govuk-body">Data warnings: {{ summary_metrics.warnings }}</p>
<p class="govuk-body">New resources: WIP</p>

<h2>Endpoints added per week:</h2>
<div>
  <canvas id="endpoint_added_graph"></canvas>
</div>


<h2>Resources downloaded per week:</h2>
<div>
  <canvas id="resources_downloaded_graph"></canvas>
</div>

<h2>Endpoint error % per week:</h2>
<div>
  <canvas id="endpoint_error_graph"></canvas>
</div>

<script type="module" {% if config["ENV"] == "production" %}nonce="{{ csp_nonce() }}"{% endif %}>
  import TimeseriesChart from "{{ assetPath | default('/assets') }}/javascripts/utilities/timeseries-chart.js"
  const endpoint_added_timeseries = new TimeseriesChart("Week", "date", "Endpoints added", "count", '# of endpoints added per week', {{graphs.endpoints_added_timeseries | safe}}, "endpoint_added_graph").init()
  const resources_downloaded_timeseries = new TimeseriesChart("Week", "date", "Resources downloaded", "count", "# of resources downloaded per week", {{graphs.endpoint_successes_timeseries | safe}}, "resources_downloaded_graph").init()
  const endpoint_errors_timeseries = new TimeseriesChart("Week", "date", "Error %", "count", "% of active endpoints erroring per week", {{graphs.endpoint_errors_timeseries | safe}}, "endpoint_error_graph").init()
</script>

<script type="module" {% if config["ENV"] == "production" %}nonce="{{ csp_nonce() }}"{% endif %}>
    import SummaryMetrics from "{{ assetPath | default('/assets') }}/javascripts/reporting-summary.js"
    const summary_metrics = new SummaryMetrics({{summary_metrics | safe}}).init()
</script>

{% endblock content %}
